/* Common styles for all screen sizes */
.highlight {
    color: #3f77e4 !important;
}

.app-demo {
    text-align: center;
    padding: 50px;
    width: 80%;
}

.app-demo h2 {
    margin-bottom: 20px;
}

.app-demo-video {
    max-width: 100%;
    margin-bottom: 10px;
    width: 80%;
}

.app-demo-text {
    font-size: 22px;
    margin-bottom: 30px;
}

.app-demo-button {
    background-color: orange;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.app-demo-button:hover {
    background-color: #ff8800;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .app-demo {
        width: 90%;
    }

    .app-demo-video {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .app-demo {
        padding: 30px;
    }

    .app-demo h2 {
        font-size: 24px;
    }

    .app-demo-text {
        font-size: 18px;
    }

    .app-demo-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}