.highlight {
    color: #3f77e4 !important;
}

.app-demo {
    text-align: center;
    padding: 50px;
    width: 80%;
}

.app-demo h2 {
    /* font-size: 28px; */
    margin-bottom: 20px;
}

.app-demo-video {
    max-width: 100%;
    margin-bottom: 10px;
    width: 80%;
    /* height: auto; */
}

.app-demo-text {
    font-size: 22px;
    margin-bottom: 30px;
}

.app-demo-button {
    background-color: orange;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.app-demo-button:hover {
    background-color: #ff8800;
}