/* Common styles for all screen sizes */
.feature-card {
  flex: 1;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  background-color: #2b62cc;
}

.feature-card text {
  font-size: 18px;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 16px;
}

.feature-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  box-sizing: border-box;
  width: 100px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .feature-card {
    padding: 10px;
  }

  .feature-card text {
    font-size: 16px;
  }

  .feature-card p {
    font-size: 14px;
  }

  .feature-card img {
    width: 80px;
  }
}

@media screen and (max-width: 480px) {
  .feature-card {
    padding: 5px;
  }

  .feature-card text {
    font-size: 14px;
  }

  .feature-card p {
    font-size: 12px;
  }

  .feature-card img {
    width: 60px;
  }
}