/* Common styles for all screen sizes */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.banner-text {
    flex: 1;
    margin: 30px;
    text-align: left;
}

.banner-text h1 {
    margin-bottom: 20px;
    line-height: 1.1;
}

.banner-text p {
    font-size: 18px;
    margin: 30px 0;
}

.build-btn {
    margin: 30px 0;
    background-color: #fa9d00;
    color: #000;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.build-btn:hover {
    background-color: #FF8C00;
}

.banner-image {
    text-align: right;
    margin: 30px;
}

.banner-image img {
    max-width: 70%;
    border-radius: 10px;
}

.highlight {
    color: #3f77e4 !important;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .banner {
        flex-direction: column;
    }

    .banner-text,
    .banner-image {
        text-align: center;
        margin: 10px;
    }

    .banner-image img {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        padding: 30px;
    }
}